page-signal {

    ion-header{

        &.header-md::after {
            background-image: none;
            width: 0;
            height: 0;
            display: none;
        }

        ion-navbar {
            .toolbar-background-md, .toolbar-background-ios {
                background: $c-header;
            }

            .bar-button-default-md, .bar-button-default-ios {
                color: color($colors, light);
            }

            ion-title {
                .toolbar-title-md, .toolbar-title-ios {
                    color: color($colors, light);
                }
            }
        }
    }

    ion-content {
        &.content-md, &.content-ios {
            background-color: color($colors, dark);
        }

        ion-list {
            &.list-ios {
                &> .item-block:first-child {
                    border-top: 0;
                }
            }

            &.list-md, &.list-ios {
                .item-block {
                    .item-inner {
                        border-bottom: 1px solid $c-signal-item-border;
                    }
                }

                .item-input:last-child {
                    border-bottom: 1px solid $c-signal-item-border;
                }
            }

            ion-item {
                &.item-input {
                    .label-ios {
                        color: $mid-gray;
                    }

                    ion-input, ion-textarea {
                        padding-left: 8px;
                    }
                }

                &.item-md {
                    &.item-input {
                        &.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus){
                            .item-inner {
                                box-shadow: none;
                                border-bottom: 1px solid $c-signal-item-border;
                            }

                            &:last-child {
                                box-shadow: none;
                                border-bottom: 0;
                            }
                        }

                        &.input-has-focus {
                            .item-inner {
                                box-shadow: none;
                                border-bottom: 1px solid color($colors, primary);
                            }

                            &:last-child {
                                box-shadow: none;
                                border-bottom: 0;
                            }
                        }
                    }
                }

                &.item-md, &.item-ios {
                    padding-left: 0;
                    font-size: 1.4rem;
                    color: color($colors, white);
                    background-color: transparent;
                }

                .copy-button {
                    background: transparent;

                    ion-icon {
                        font-size: 2rem;
                    }
                }
            }

            .disclaimer {
                .discalimer-label {
                    color: $mid-gray;
                    margin-bottom: 8px;
                }

                .discalimer-text {
                    padding: 10px;
                    border: 1px solid color($colors, primary);
                    border-radius: 1px;
                }
            }
        }
    }

    [col-1],[col-2],[col-3],[col-4],[col-5],[col-6],[col-7],[col-8],[col-9],[col-10],[col-11],[col-12] {
		padding:0px;
	}

}
