page-login {

    ion-content {
        &.content-md, &.content-ios {
            background-color: color($colors, dark);
        }

        ion-list {
            &.list-ios {
                &> .item-block:first-child {
                    border-top: 0;
                }
            }

            &.list-md, &.list-ios {
                .item-block {
                    .item-inner {
                        border-bottom: 1px solid color($colors, secondary);
                        //padding-left: 8px;
                    }
                }

                .item-input:last-child {
                    border-bottom: 1px solid color($colors, secondary);
                }
            }

            ion-item {
                &.item-input {
                    .label-ios {
                        color: $mid-gray;
                    }
                }

                &.item-md, &.item-ios {
                    padding-left: 0;
                    color: color($colors, secondary);
                    background-color: transparent;
                }
            }
        }

        .google-button {
            color: $dark-gray; 
        }
    }

    [col-1],[col-2],[col-3],[col-4],[col-5],[col-6],[col-7],[col-8],[col-9],[col-10],[col-11],[col-12] {
		padding:0px;
	}

}
