<ion-content padding-top text-center>

    <img margin-bottom src="assets/imgs/logo-icon-color-md.png" alt="Logo" />
  
    <div padding>
      <ion-row>
        <ion-col col-12 text-center>
          <p ion-text color="primary">Please write your email address. we will send an email with password reset link to that email address if it exists with us.</p>
        </ion-col>
      </ion-row>

      <form [formGroup]="authForm" (ngSubmit)="submitForm(authForm.value)">
        <ion-list margin-bottom>

          <ion-row>
            <ion-col col-12 text-right>
              <ion-item [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}">
                <ion-label floating>Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">This field is required!</p>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">Email is not valid!</p>
            </ion-col>
          </ion-row>

        </ion-list>
  
        <button margin-top margin-bottom ion-button block color="primary" type="submit">
          Send
        </button>
  
      </form>
  
      <ion-row>
        <ion-col col-12 text-center margin-bottom>
          <a ion-text color="primary" (click)="gotoLogin()">Go Back to Login</a>
        </ion-col>
      </ion-row>
      
    </div>
  
  </ion-content>
  