<ion-content padding-top text-center>

    <img margin-bottom src="assets/imgs/logo-icon-color-md.png" alt="Logo" />
  
    <div padding>
      <form [formGroup]="authForm" (ngSubmit)="submitForm(authForm.value)">
        <ion-list margin-bottom>
          <ion-row>
            <ion-col col-12 text-right>
              <ion-item [ngClass]="{'error-border':!authForm.controls.username.valid && authForm.controls.username.touched}">
                <ion-label floating>Username</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
              </ion-item>

              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">This field is required!</p>
			  	    <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">Must have minimum 3 characters!</p>
			  	    <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.username.hasError('maxlength') && authForm.controls.username.touched">Maximum characters can be 50!</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12 text-right>
              <ion-item [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}">
                <ion-label floating>Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">This field is required!</p>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">Email is not valid!</p>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12 text-right>
              <ion-item [ngClass]="{'error-border':!authForm.controls.password.valid && authForm.controls.password.touched}">
                  <ion-label floating>Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">This field is required!</p>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.password.hasError('pattern') && authForm.controls.password.touched">Must have at least 1 character and 1 number!</p>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">Must have minimum 8 characters!</p>
              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.password.hasError('maxlength') && authForm.controls.password.touched">Maximum characters can be 100!</p>
            </ion-col>
          </ion-row>

          <ion-row margin-top>
            <ion-col col-12 text-right>
              <ion-item class="clear-item" [ngClass]="{'error-border':!authForm.controls.termsAndServices.valid && authForm.controls.termsAndServices.touched}">
                <ion-label>I accept the terms of service</ion-label>
                <ion-checkbox color="primary" formControlName="termsAndServices"></ion-checkbox>
              </ion-item>

              <p ion-text color="danger" class="error-text" *ngIf="authForm.controls.termsAndServices.hasError('required') && authForm.controls.termsAndServices.touched">This field is required!</p>
            </ion-col>
          </ion-row>
        </ion-list>
  
        <!-- <ion-row margin-bottom>
          <ion-col col-12>
            
            <a ion-text color="primary">Forgot Password?</a>
          </ion-col>
        </ion-row> -->
  
        <button margin-bottom ion-button block color="primary" type="submit">
          Sign Up
        </button>
  
      </form>
  
      <ion-row>
        <ion-col col-6 text-left margin-bottom>
          <a ion-text color="primary" (click)="seePrivacyPolicy()">Privacy Policy</a>
        </ion-col>

        <ion-col col-6 text-right margin-bottom>
          <a ion-text color="primary" (click)="goBack()">Cancel</a>
        </ion-col>
      </ion-row>

    </div>
  
  </ion-content>
  